*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #DDDDDD;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  
  
}

.login__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 30rem;
  height: 15rem;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 16px;
}


h2{
  
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #000000
}

h4{
  padding: 15px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: #000000;

}

.username{
  box-sizing: border-box;
  width: 80%;
  height: 2rem;
  background: #FFFFFF;
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 5px;
}

button{
  margin-top: 10px;
  color: #FFFFFF;
  width: 6rem;
  height: 2rem;
  background: #7695EC;
  border-radius: 8px;
  margin-left: 10rem;
  cursor: pointer;
  border: none;

}

button:disabled{
  background: #777777;
  cursor: no-drop;
}

/* ---- Usuario ---*/


.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7695EC;
  height: 45px;
  padding: 15px;
  font-size: 16px;
  color: #FFFFFF;

}

.header-two{
  display: flex;
  justify-content: space-between;
  background-color: #7695EC;
  height: 45px;
  padding: 15px;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 8px, 8px, 0, 0;

}

.header button{
  width: 80px;
  height: 25px;
  background: #7695EC;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 2px;
  margin-left: 50px;
  font-size: 12px;
  font-weight: 700;
}


.box-2{
 height: 40%;
 margin:40px;
 width: 80%;
 border: 1px solid #999999;
 border-radius: 8px;
 padding-bottom: 20px;
}

.box-2 h2{
  display: flex;
  font-size: 16px; 
  padding:15px;

}

.box-2 p{
  display: flex;
  font-size: 12px;
  padding-left: 15px;

}

.input-title{
  width: 95%;
  margin: 5px;
  padding: 5px;
}

.input-content{
 
  padding-left: 5px;
  width: 95%;
  height: 50px;
  margin: 5px;

}

.content{
 font-size: 15px;
 font-style: normal;

}

.box-2 button{
  width: 7rem;
  height: 25px;
  background: #7695EC;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 2px;
  margin-left: 32.5rem;
}

.box-2 button:disabled{
  background-color: #777777;
}

.name-user{
  display: flex;
  justify-content: space-between;
  color:#777777;
  padding: 10px;
  overflow: hidden;
  word-break: break-all;
}

.fa{
  margin-left: 300px;
}

/* ----Modal-----  */

.modalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:1;
  top: 0;
  left: 0;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.modalContainer .content {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

