*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.rectangle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: #DDDDDD;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  box-sizing: border-box;
  width: 500px;
  height: 205px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 16px;
  
}

h2{
  
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #000000
}

h4{
  padding: 15px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;

}

input{
  box-sizing: border-box;
  width: 452px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #777777;
  border-radius: 8px;
  padding: 5px;
}

button{
  margin-top: 10px;
  color: #FFFFFF;
  width: 111px;
  height: 32px;
  background: #7695EC;
  border-radius: 8px;
  margin-left: 345px;
  cursor: pointer;
  border: none;

}

button:disabled{
  background: #777777;
  cursor: no-drop;
}

/* ---- Usuario ---*/

.header{
  display: flex;
  padding: 10px;
  width: 550px;
  height: 80px;
  background: #7695EC;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  border-radius:8px 8px 0 0;
  
}

.box-2{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 500px;
  height: 205px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 16px;
  margin:50px;
  padding: 15px;
  
}

.div{
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #CCCCCC;
  
}

.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 50%;
  background: #FFFFFF;
  
  
}

.box-2 h3{
  display: flex;
}

.box-2 p{
  display: flex;
  padding-left: 30px;
  
}
.texto{
  width: 95%;
  
}



